<div class="jumbotron" style="position: relative;">
    <div class="text-center">
        <h1 class="display-4">Besir Nebija</h1>
        <h3>FrontEnd Developer</h3>
    </div>
    <div style="position: absolute; bottom: 5px; right: 10px;">
        <a href="https://www.linkedin.com/in/besir-nebija-894449232/" class="" target="_blank">
            <img src="../../assets/images/images.png" width="24" height="24" class="rounded-circle me-2" alt="linkedin">
        </a>

        <a href="https://www.facebook.com/besirnebija" class="" target="_blank">
            <img src="../../assets/images/facebook.ac3b465e-4384-42a8-9142-901c0405e1bc" width="24" height="24" class="rounded-circle me-2" alt="facebook">
        </a>

        <a href="https://github.com/besirnebija" class="" target="_blank">
            <img src="../../assets/images/github-6980894_960_720.webp" width="24" height="24" class="rounded-circle me-2" alt="github">
        </a>
    </div>
</div>
