<nav class="navbar-expand-md border-bottom mb-3">
    <div class="container">
        <ul class="nav justify-content-center">
            <li class="nav-item">
                <a routerLink="/home" class="nav-link text-secondary" [routerLinkActive]="textDark">Home</a>
            </li>
            <li class="nav-item">
                <a routerLink="/portfolio" class="nav-link text-secondary" [routerLinkActive]="textDark">Portfolio</a>
            </li>
            <li class="nav-item">
                <a routerLink="/resume" class="nav-link text-secondary" [routerLinkActive]="textDark">Resume</a>
            </li>
            <li class="nav-item">
                <a routerLink="/contact" class="nav-link text-secondary" [routerLinkActive]="textDark">Contact</a>
            </li>
        </ul>
    </div>

</nav>